*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.scene{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.scene.active{
    opacity: 1;
    z-index: 1;
}

.hidden{
    display: none;
}

.fade{
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}
